<link rel="stylesheet" href="stylesheets/footer.css">
<div class="container-fluid" id="#footer-container">
    <footer class="row" id="footer-row">
        <div class="col-md-4 col-sm-12 col-xs-12" id="footer-col">
            <strong>
                Fundamentals of Web Technology, 2019.
            </strong>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12" id="footer-col">
            <div class="row" id="">
                <strong>
                    By Aaditya Naik, Aditya Pansare and Utkarsh Pant.
                </strong>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12" id="footer-col">        
                <div class="row" id="">
                    <strong>
                        GitHub.
                    </strong>
                </div>
            </div>
        </div>
    </footer>
</div>