<link rel="stylesheet" href="../../stylesheets/navbar.css">

<div class="container-fluid" id="navbar-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 logo">
            <div class="row">
                    <a href="/" id="logo" class="col">
                        <img src="/images/logo1-white.svg" id="logo-img">
                    </a>
                </div>
            </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 navbar-item">

            We could put a search bar here; for now this is a placeholder.
            <!-- <img src="/images/logo1.png"> -->
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 navbar-item">
            Get In Touch.
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1 navbar-item">
            Stuff.
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1 navbar-item">
            <a href="/blog">Dev Blog</a>
        </div>
    </div>
</div>