<nav>
        <div class="row mm-navbar">
            <div class="col-md-6">
                <div class="mm-navbar-brand">
                    Music Managed.
                </div>
            </div>
            <div class="col-md-6 mm-navbar-items">
                <a href="/hello" class="mm-nav-link">Get In Touch.</a>
                <a href="/terms" class="mm-nav-link">Terms.</a>
                <a href="/404" class="mm-nav-link">Stuff.</a>
            </div>
        </div>
    </nav>