@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');

* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", "sans-serif";
    background: #000000;
    color: #ffffff;
    padding: 0;
}


h1 {
    border-bottom: 2px solid #000000;
    padding: 10px 0px;
    width: auto;
    text-align: left;
}


.player {
    width: 100vw;
    padding: 10px;
    background: red;
    position: absolute;
    bottom: 0;
}

.play {
    margin: 40px;
    background: yellow;
}

.list-container {
    padding: 20px;
}

#list_files:nth-child(even) {
    background: red;
}

#list_files:nth-child(odd) {
    background: #000000;
}

.song-title {
    padding: 20px;
}

.fab {
    background:#E50914;
    color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: flex;
    display: -moz-box;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 24pt; 
    position: absolute;
    bottom: 90px;
    right: 20px;
    z-index: 100;
    box-shadow: #101010 0px 0px 10px;
    transition:
}

.fab:hover {
    background: #101010;
    color: #E50914;
}
