@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');

* {
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Poppins", "sans-serif";
    background: #000000;
    color: #ffffff;
}


html, body {
    height: 100%;
}

.song-container {
    min-height: 75%;
    margin-bottom: -100px;
}

.song-container:after {
    content: "";
    display: block;
    height: 100px;
}

h1 {
    border-bottom: 2px solid #000000;
    padding: 10px 0px;
    width: auto;
    text-align: left;
}

.player {
    width: 100vw;
    height: 100px;
    padding: 10px;
    background: #101010;
    position: fixed;
    bottom: 0;
}

.play {
    margin: 40px;
    background: yellow;
}

.list-container {
    padding: 20px;
}

#list_files:nth-child(even) {
    background: #E50914;
}

#list_files:nth-child(odd) {
    background: #000000;
}

.song-title {
    padding: 20px;
}

.fab {
    background:#E50914;
    color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: flex;
    display: -moz-box;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 24pt; 
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 100;
    box-shadow: #101010 0px 0px 10px;
    transition: background 0.5s ease-in;
}

.fab:hover {
    background: #101010;
    color: #E50914;
}

.title{
  font-size: 18px;
  font-weight: 500;  
}

.artist,.album,.year {
    font-size: 14px;
    font-weight: 200;
}

.title:hover{

    font-size: 18px;
    font-weight: 800;  
    text-shadow: 2px 2px 4px #ffffff;
}

.artist:hover,.album:hover,.year:hover {
    font-size: 14px;
    font-weight: 500;
    text-shadow: 2px 2px 4px #ffffff
}

.jp-audio, .jp-progress {
    width: 100% !important;
    border: none !important;
}

.jp-controls-holder {
    width: 80% !important;
}

.jp-volume-controls {
    right: -70px !important;
    left: auto !important;
}

.jp-audio * {
    background-color: #101010 !important;
    border: none !important;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-shadow: 1px 1px 2px #ffffff;
}



