@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');


* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin: 0;
}
body {
    font-family: "Poppins", "sans-serif";
    background: #000000;
    color: #ffffff;
    padding: 0;
}

nav {
    background: #ffffff;
}

h1 {
    padding: 10px 0px;
    width: auto;
    text-align: left;
    font-weight: 600;
}

.large {
    font-size: 72pt;
}

.disclaimer {
    font-weight: 300;
    font-size: 8pt;
}

.h1-caption {
    width: 400px;
    padding: 10px;
}

.h1-caption p {
    font-weight: 300;
    text-align: justify;
}

a {
    height: 100%;
}

/* .navbar {
    background: yellow;
} */


form {
    padding: 10px 10px;
    align-self: center;
}

button {
    padding: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 12pt;
    border:none;
    margin: 5px 5px 5px 0px;
}

footer {
    padding: 10px;
    background: #000000;
    color: #ffffff;
}

footer p {
    height: 200px;
    font-size: 9pt;
    align-self: center;
}

p {
    font-weight: 300;
}