@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:400,600,700');

* {
    padding: 0;
    margin: 0;
}
html {
    /* background: red;; fallback for old browsers */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 100%;
    background: url('/images/home-background.png') no-repeat;
    background-size: cover;
}

body {
    /* padding: 10px; */
    /* background: url('..\images\quickblobbob.svg'); */
    font-family: 'Libre Baskerville', 'serif';
    font-weight: 400;
    color: #ffffff;
    min-height: 100%;
    height: 600px;
}

.intro_bar {
    padding: 10px;
    color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
}

#title {
    font-family: 'Montserrat', 'sans-serif';
    color: #000000;
    margin: 0;
    font-size: 14pt;
    font-weight: 600;
}

#sub_title {
    font-size: 10pt;
    color: #000000;
    font-weight: 400;
    margin-top: 0px;
    border-bottom: 2px dashed #007991;
}

.content {
    min-height: 100%;
    color: #000000;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

a {
    transition: border-bottom 0.5s ease-in;
    border-bottom: 2px solid #ffffff;
    padding: 5px;
    text-decoration: none;
    color: #000000; 
}

a:hover {
    border-bottom: 2px solid #007991;
}

table {
    width: auto;
    border-collapse: collapse;
    font-size: 12pt;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
}

label {
    /* padding: 5px; */
    text-align: center;
}

input[type="text"] {
    margin: 5px 0px;
    padding: 5px;
    width: 225px;
    background: none;
    border:none;
    border-bottom: 2px solid #000000;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-align: center;
}

input[type="password"] {
    width: 225px;
    margin: 5px 0px;
    padding: 5px;
    background: none;
    border:none;
    border-bottom: 2px solid #000000;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-align: center;
}


button {
    margin-top: 10px;
    padding: 5px 15px;
    background: none;
    border: 2px solid #000000;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    border-radius: 20px;
}

.actionbutton {
    margin-top: 10px;
    padding: 5px 15px;
    background: #ffffff;
    border: 2px solid orangered;
    font-family: 'Montserrat', 'sans-serif';
    color: #000000;
    font-weight: 700;
    border-radius: 20px;
}

td {
    /* background: pink;
    border: 2px solid black; */
    padding: 10px;
}

th {
    width: auto;
    /* background: #007991; */
    /* border: 2px solid black; */
    padding: 15px 10px;
    text-align: left;
}


.form_title {
    font-size: 24pt;
}

#error {
    padding: 5px;
    font-size: 8pt;
    color: red;
    display: inline;
    visibility: hidden;
}

footer {
    padding: 20px;
    background: #000000;
    color: #ffffff;
    font-size: 8pt;
    position: fixed;
    bottom: 0;
    width: 100%;
}

