@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');


* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

#content-container {
    background: linear-gradient(to bottom, #00000000 0%, #000000 100%);
    padding-bottom: 300px;
}

.container-fluid {
}

body {
    font-family: "Poppins", "sans-serif";
    background: #d50914;
    /* background-size: 600% 600%; */

    /* -webkit-animation: IndexBackground 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite; */
    color: #ffffff;
    padding: 0;
}

@-moz-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}

.form {
    padding: 20px;
}

h1 {
    padding: 10px 0px;
    width: auto;
    text-align: center;
    font-weight: 500;
}

input {
    padding: 10px;
    color: #ffffff;
    background: #000000;
    border: none;
    font-weight: 600;
    margin: 10px 0px;
    transition: box-shadow 0.5s ease-in;
}

input:focus {
    padding: 10px;
    font-weight: 600;
    color: #ffffff;
    background: #000000;
    box-shadow: #00000090 0px 0px 20px;
    border: none;
    margin: 10px 0px;
}

.large {
    text-align: center;
    font-size: 64pt;
    font-weight: 600;
}

a {
    height: 100%;
}

form {
    padding: 10px 10px;
    align-self: center;
    transition: backdrop-filter 0.5s ease-in;
}

button {
    padding: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 12pt;
    border:none;
    margin: 5px 5px 5px 0px;
}

p {
    font-weight: 300;
    text-align: center;
}

