/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600'); */

.mm-navbar {
    background: #101010;
    display: flex;
    align-items: center;
}

.navbar-item {
    /* padding: -20px; */
    height: 60px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #101010;
}

p.brand, p.item {
    font-weight: 500;
}

.navbar-item {
    font-size: 12pt;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.navbar-brand {
    /* padding: 20px;  */
    font-size: 18pt;
    color: #D40914;
    background: #101010;
}

a.footer-link::after, a.nav-link::after, .strong-link a::after, .project-link::after {
    content: "→";
}
