@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');

#navbar-container {
    height: 70px;
    box-shadow: #00000080 0px 0px 15px;
}

#logo-img {
    height: 70px;
    padding: 10px;
    margin: 0px -50px;
}
.logo {
    display: flex;
    background: #d50914;
    justify-content: space-evenly;
    align-items: center;
    height: 7 0px;
    /* padding: 5px; */
}

#search-form button {
    background: #101010;
    color: #ffffff;
}

#search-bar {
    /* padding: 10px; */
    background: #101010;
    height: 50px;
    border: none;
    color: #ffffff;
    text-align: left;
    align-self: center;
    border-bottom: 1px solid #ffffff;
}

#search-bar::placeholder {
    color: #ffffff;
}
.navbar-item, .navbar-item a {
    background: #101010;
    color: #ffffff;
    font-size: 12pt;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.navbar-brand {
    /* padding: 20px;  */
    font-size: 18pt;
    color: #ffffff;
    background: #ffffff;
}

a.footer-link::after, a.nav-link::after, .strong-link a::after, .project-link::after {
    content: "→";
}

a img {
    max-height: 100%;
    max-width: 100%;
}

#logo {
    margin-left: 50px;
}