/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin: 0;
}
body {
    font-family: "Poppins", "sans-serif";
    background: #ffffff;
    color: #000000;
    padding: 0;
}

nav {
    background: #ffffff;
}

.mm-navbar {
    background: blue;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    border-bottom: 2px solid #000000;
}

.mm-navbar-brand {
    margin: 10px 0px;
    background: red;
    padding: 10px;
    font-size: 16pt;
    font-weight: 500;
}

.mm-navbar-items {
    padding: 0px 10px;
    background: brown;
    font-size: 12pt;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}

.mm-nav-link {
    padding: 20px;
    text-decoration: solid underline #ffffff;
    color: #000000;
    background: red;
}

.mm-nav-link:hover {
    transition: all 0.5s ease-in;
    transition-property: text-decoration;
    padding: 20px;
    background: rgba(255, 255, 255, 0.15);
    text-decoration: solid underline #000000;
    border-bottom: 2px solid rgb(255, 255, 255, 1);
    color: #000000;
    background: red;
}

h1 {
    border-bottom: 2px solid #000000;
    padding: 10px 0px;
    width: auto;
    text-align: left;
}

.disclaimer {
    font-weight: 300;
    font-size: 8pt;
}

.h1-caption {
    width: 400px;
    padding: 10px;
}

.h1-caption p {
    font-weight: 300;
    text-align: justify;
}

a {
    height: 100%;
}

.navbar-nav {
    background: #000000;
}

.some {
    background: blue;
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}

form {
    padding: 10px 10px;
    align-self: center;
    border: none;
}

input {
    font-size: 12pt;
    padding: 10px;
    margin: 5px 0px;
    color: #000000;
    border: 2px solid #ff6060;
}


footer {
    padding: 10px;
    background: #000000;
    color: #ffffff;
}

footer p {
    height: 200px;
    font-size: 9pt;
    align-self: center;
}

p {
    font-weight: 300;
}

.top_title{
    font-weight: 500;
    font-size: 20pt;
}

table {
    border: none;
} */
