<form name="login_form" method="POST" action="api/verifyuser" class="form">
    <div class="form-group">
        <table class="align-middle">
            <tr>
                <td colspan="2">
                    <input type="text" name='username' maxlength=20 placeholder="Username">
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <input type="password" name='password' maxlength=20 placeholder="Password">
                </td>
            </tr>
            <tr>
                <td colspan=1>
                    <button type="submit" name="submit_button">Sign In.</button>
                    <button type="button" name="register_button" onclick="signUpForm()">Sign
                        Up.</button>
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    <div class="disclaimer">
                        By Signing Up for, or making use of Music Managed, You agree to the Terms of
                        Service.
                        <!-- If not, shove it up your ass. Good day, sir/madam/thing.<br><i>Did you just assume the user's gender(s)</i> -->
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>