<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Music Managed | Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/home.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
	<% include ../partials/navbar.ejs %>
	<div class="container-fluid">
		<h2>
			Your Library
			<a href="upload" class="btn btn-primary">
				Upload
			</a>
			<a href="/logout" class="btn btn-primary">
				Log Out
			</a>
		</h2>
		<div class="row list-container">
			<div class="col-sm-12" id="list_files">
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col fab">
				<i class="fas fa-plus"></i>
			</div>
		</div>
		<div class="row">
			<div class="col player">
				<audio controls="controls" src="" id="player">Your browser doesn't support HTML5 Audio Playback.</audio>
			</div>
		</div>
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="scripts/home.js"></script>
</body>