<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Music Managed.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="scripts/index.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/index.css" />
</head>

<body>
    <% include ../partials/navbar.ejs %>
    <div class="content">
        <form name="upload_form" method="POST">
            <table>
                <tr>
                    <th colspan="2">
                        <p class="form_title">Add to your Music Managed library.</p>
                    </th>
                </tr>
                <tr>
                    <td colspan="1">
                        <label for="filename">Browse for a File to add.</label>
                    </td>
                    <td>
                        <input type="file" name="filename" id="filename" placeholder="No File Selected">
                    </td>
                </tr>
                <!--
                <tr>
                    <td colspan="1">
                        <label for="SongTitle">Enter Song Name: </label>
                    </td>
                    <td>
                        <input type="text" name="SongTitle" id="SongTitle" placeholder="Song Title">
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <label for="ArtistName">Enter Artist Name: </label>
                    </td>
                    <td>
                        <input type="text" name="ArtistName" id="ArtistName" placeholder="Artist Name">
                    </td>
                </tr>
                -->

                <tr>
                    <td colspan="1">
                        <button type="button" name="submit" onclick="validateInput()" class="actionbutton">Upload</button>
                        <button type="button" class="helper disabled">Download</button>
                    </td>
                    
                </tr>
                <tr>
                    <td colspan="2">
                        <p id="error"></p>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <footer class="row">
        <div class="col-md-6">
            <h3>
                Made for the Fundamentals of Web Technology Course, 2019.
            </h3>
            <p>
                By Aaditya Naik, Aditya Pansare and Utkarsh Pant.<br>
                Music Managed was made using NodeJS, EJS and the whole shebang! To see the source code, head over to
                GitHub.
            </p>
        </div>
        <div class="col-md-6">

        </div>
    </footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
</body>