<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Music Managed.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="scripts/upload-bind.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/upload.css" />
</head>

<body class="container-fluid">
    <% include ../partials/navbar.ejs %>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <h1>Add files to your Music Managed library below.</h1>
            <p>Once you upload a song, you'll be able to change/review some basic information about the song you are
                adding to your Library.</p>
        </div>
    </div>
    <div class="row">
        <form class="col " name="upload_file_form">
            <table class="table">
                <th><label>Select a song from your Device: <input type="file" name="file" id="file"></label></th>
                <tr><td><label>Artist:</label></td>
                    <td><input type = "text" name = 'artist' id = 'artist' ></td>
                </tr>
                <tr>
                    <td><label>Song Title:</label></td>
                    <td><input type = "text" name = 'song_title' id = 'song_title' ></label></td>
                </tr>
                <tr>
                    <td><label>Album:</label></td>
                    <td><input type = "text" name = 'album' id = 'album' value=""></td>
                </tr>
                <tr>
                    <td><label>Release Year:</label></td>
                    <td><input type = "number" min = 1890 max = 9999 name = 'year' id = 'year' ></td>
                </tr>
                
                <tr>
                    <td>
                        <button class="btn-outline-primary" name="uploadButton" id = "uploadButton" onclick="uploadFile()" type='button'>
                            UPLOAD
                        </button>
                    </td>
                </tr>
            
            </table>

            
        </form>
    </div>


    <footer class="row">
        <div class="col-md-6">
            <h3>
                Made for the Fundamentals of Web Technology Course, 2019.
            </h3>
            <p>
                By Aaditya Naik, Aditya Pansare and Utkarsh Pant.<br>
                Music Managed was made using NodeJS, EJS and the whole shebang! To see the source code, head over to
                GitHub.
            </p>
        </div>
        <div class="col-md-6">

        </div>
    </footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


    <script type="text/javascript">
        $(document).ready(function(){
            var dtToday = new Date();
            var year = dtToday.getFullYear().toString();

                
            $('#year').attr('max', year);
            console.log('' + year)
        });
    </script>
</body>